$gradiente-principal: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Chakra Petch', sans-serif;
}

@mixin boton($backcolor, $border, $boxshadow, $boxshadow2) {
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-size: 1em;
	padding: 0.5em 1.62em;
	width: 9em;
	height: 1.625em;
	box-sizing: border-box;
	background-color: $backcolor;
	border: $border;
	box-shadow: $boxshadow, $boxshadow2;
}

%secciones {
	background-color: #fffafe;
	border: 1px solid #2e32fb;
	box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 0.875em;
	color: #110038;
	font-weight: normal;
	padding-left: 0.45em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 1.2em;
}

.encabezado {
	.encabezado__barra-superior {
		background-image: $gradiente-principal;
		margin: 1px;
		font-size: 0.75em;
		padding: 0.25em 0em 0.25em 0.5em;
		margin-bottom: 2.19em;
		color: #ffffff;
		box-shadow: 0 1px 0 0 #110038;
	}
	.encabezado__menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.encabezado__menu__logo {
			flex-grow: 0;
			margin-left: 5.69em;
		}
		.encabezado__menu__navegacion {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 30em;
			list-style: none;
			&:last-child {
				margin-right: 14.75em;
			}
			// SEGUIR CON EL ESTILADO DE BOTONES DE TEMAS
			.menu__navegacion__temas__botones {
				display: none;
			}
			.boton- {
				&1 {
					@include boton(#ee3efe, 1px solid #110038, inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff);
					:active {
						background-color: #e6bbe2;
						box-sizing: border-box;
						outline: 1px dotted #110038;
						outline-offset: -2px;
					}
				}
				&2 {
					@include boton(#ee3efe, 1px solid #110038, inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff);
					align-items: center;
					// Falta agregar el menú desplegable del active
				}
				&3 {
					@include boton(none, none, none, none);

					em {
						text-decoration: underline;
						font-style: normal;
					}

					// Averiguar cómo mierda es que en el spec está en gris pero los valores son los mismos.
				}
			}

			.boton-1:hover {
				background: #ce36db;
				border: 1px solid #110038;
				box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
				outline: 1px dotted #110038;
				outline-offset: -2px;
			}

			.boton-1:active {
				background: #ce36db;
				border: 1px solid #110038;
				box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
				outline: 1px dotted #110038;
				outline-offset: -2px;
			}

			.boton-2:hover {
				background: #ce36db;
				border: 1px solid #110038;
				box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
				outline: 1px dotted #110038;
				outline-offset: -2px;
			}

			.boton-2 :active {
				background: #ce36db;
				border: 1px solid #110038;
				box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
				outline: 1px dotted #110038;
				outline-offset: -2px;
			}

			.boton-3:hover {
				box-sizing: border-box;
				outline: 1px dotted #110038;
				outline-offset: -2px;
			}

			.boton-3 :active {
				color: #ffffff;
			}

			.flecha {
				margin-left: -2em;
				width: 2.25em;
				padding: 0.5em 0.625em;
				align-content: flex-start;
			}
		}
	}
	.encabezado__contenedor {
		width: 75em;
		height: 6.2em;
		margin: 1.2em 8.75em 4em 5.69em;
		background-color: #e6e6e6;
		box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
		margin-right: 6em;
		.encabezado__contenedor__busqueda__texto {
			font-size: 0.875em;
			font-weight: bold;
			color: #ffffff;
			background-image: $gradiente-principal;
			padding-left: 0.4em;
			position: relative;
			left: 2px;
		}
		.encabezado__contenedor__busqueda__contenedor {
			display: flex;
			flex-direction: row;
			align-items: center;
			.encabezado__contenedor__busqueda__barra {
				#buscador-principal {
					width: 66em;
					height: 3em;
					margin-left: 0.4em;
					margin-top: 0.75em;
					font-size: 1em;
					padding-left: 1em;
					background: #ffffff;
					border: 1px solid #979797;
					box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
				}
			}
			.encabezado__contenedor__busqueda__boton {
				margin-left: 0.5em;
				font-size: 1em;
				border: 1px solid #808080;
				box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
				width: 6.4em;
				position: relative;
				top: 0.4em;
				text-align: center;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				background-color: #e6e6e6;
				color: #8f8f8f;
			}
			:active {
				color: #110038;
				background-color: #e6bbe2;
				box-sizing: border-box;
				outline: 1px dotted #110038;
				outline-offset: -2px;
			}
			button {
				color: #8f8f8f;
				i {
					position: relative;
					right: 0.5em;
				}
			}
		}
	}
}

.sugerencias {
	width: 75em;
	margin-left: 5.69em;
	margin-right: 8.725em;
	.sugerencias__titulo__texto {
		@extend %secciones;
	}
	.sugerencias__gran-contenedor {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: 4.25em;
		justify-items: center;
		.sugerencias__contenedor {
			max-width: 18em;
			max-height: 19.5em;
			background: #b4b4b4;
			box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
			.sugerencias__contenedor__encabezado {
				background-image: $gradiente-principal;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin: 0.25em 0.2em 0.12em 0.2em;
				font-size: 0.875em;
				.sugerencias__contenedor__encabezado__texto {
					color: #ffffff;
					margin-left: 0.2em;
					font-weight: bold;
				}
				.sugerencias__contenedor__encabezado__cierre {
					margin-top: 0.2em;
					margin-right: 0.3em;
				}
			}
			.sugerencias__contenedor__gif {
				margin: 0.25em 0.2em 0.12em 0.2em;
				.sugerencias__contenedor__gif__boton {
					button {
						background: #2e32fb;
						border: 1px solid #4c2f99;
						box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
						width: 5em;
						height: 2.125em;
						font-size: 0.875em;
						color: #ffffff;
						letter-spacing: 0;
						text-align: center;
						line-height: 1.1em;
						position: relative;
						bottom: 3.3em;
						left: 1em;
					}
				}
				// .sugerencias__contenedor__gif__boton button:hover {
				// 	box-sizing: border-box;
				// 	outline: 1px dotted #110038;
				// 	outline-offset: -2px;
				// 	background-color: #3a72db;
				// }
			}

			// Cambiar img por gif más adelante

			// .sugerencias__contenedor__gif img:hover {
			// 	box-sizing: border-box;
			// 	outline: 1px dotted #110038;
			// 	outline-offset: -2px;
			// }
		}
	}
}

.tendencias {
	width: 75em;
	margin-left: 5.69em;
	margin-right: 8.725em;

	.tendencias__titulo__texto {
		@extend %secciones;
	}
	.tendencias__contenedor {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		margin-bottom: 1em;
		justify-items: center;
		.tendencias__gif-doble-primero {
			grid-column: 1 / 3;
			grid-row: 2 / 3;
			// :hover {
			// 	padding: 3px;
			// 	background: #e6e6e6;
			// 	box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
			// }
		}
		.tendencias__gif-doble-segundo {
			grid-column: 3 / 5;
			grid-row: 3 / 4;
			// :hover {
			// 	padding: 3px;
			// 	background: #e6e6e6;
			// 	box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
			// }
		}
		.tendencias__gif {
			img {
				width: 18em;
				height: 18.625em;
			}
		}

		// Falta agregar en el hover los hashtags

		// .tendencias__gif:hover {
		// 	padding: 3px;
		// 	background: #e6e6e6;
		// 	box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
		// }
	}
}
